#beef0{
    background-image: url(../images/beef0.png)
}
#beef1{
    background-image: url(../images/beef1.png)
}
#beef2{
    background-image: url(../images/beef2.png)
}
#beef3{
    background-image: url(../images/beef3.png)
}
#beef4{
    background-image: url(../images/beef4.png)
}
#beef5{
    background-image: url(../images/beef5.png)
}
#beef6{
    background-image: url(../images/beef6.png)
}
#beef7{
    background-image: url(../images/beef7.png)
}

